h2{
  background-color: aquamarine;
}
.newcards{
  width:100%;
  display: flex;
  flex-direction: row;
  gap : 2%;
  margin:2%;
  
}
.newcard {
    width: 20%;
    /* margin-right: 2.5%;  */
    
    margin-bottom:4%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: #fff;
  }
.newcard:hover{
    border: solid blue;
  }
  
.newcard_img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    /* margin-bottom: 2px; */
  }
  
.newcard_info {
    text-align: center;
  }
  
.newclass_category {
    font-size: 8px;
    color: #888;
  }
  
.newcard_title {
    font-size: 8px;
    padding:1px;
    margin-bottom: 3px;
  }
  
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom:2%;
    margin-top:5%;
    cursor: pointer;
    transition:background-color 0.3s ease;
  }
  
button:hover {
  border:solid black;
    background-color: #0056b3;
  } 





